.wrapper {
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif, "Microsoft Yahei", STXihei, -apple-system-font !important;
}

.wrapper > * {
  margin-right: 15px;
  margin-left: 15px;
}
.wrapper p {
  
  line-height: 1.8;
  letter-spacing: 0.4px;
  font-size: 15px;
  white-space: normal;
  color: #414141;
  text-align: justify;
}
.wrapper blockquote {
  line-height: 22px;
  background-color: #fdfae8;
  border-color: #693a62
}
.wrapper blockquote p {
  font-size: 13px;
  color: #573151;
  letter-spacing: 0.5px;
}
.wrapper h1 {
  font-size: 28px;
  font-weight: bold;
  color: #5b0d53;
  font-family: STXihei !important;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;

}
.wrapper h2 {
  font-size: 22px;
  margin-top: 50px;
  color: #5b0d53;
  font-family: STXihei !important;
  text-align: center;
}
.wrapper h3 {
  margin-top: 30px;
  font-size: 19px;
  color: #5b0d53;
  font-family: STXihei !important
}
.wrapper h4 {
  font-size: 16px;
  color: #202020;
  font-weight: bold;
  font-family: STXihei !important
}
.wrapper h5 {
  font-size: 15px;
  color: #5e5e5e;
  font-weight: bold;
  font-family: STXihei !important;

}

.wrapper h6 {
    font-size: 14px;
    color: #5e5e5e;
    font-weight: bold;
    text-decoration: underline;
    font-family: STXihei !important;
  
  }

/* .wrapper a.reflink {
  color: #b81e82;
  margin-left: 3px;
  margin-right: 3px;
  padding-bottom: 1px;
  border-bottom-style: dotted;
  border-bottom-color: #b81e82;
  border-width: 1px;
  white-space: pre-line !important;
} */

.wrapper table {
  text-align: center;
  width: -webkit-fill-available;
}

.wrapper table th {
  text-align: center;
  font-size: 13px;

}

.wrapper table td {
  text-align: center;
  font-size: 13px;

}

.wrapper strong {
  color: #750920;
  font-weight: normal !important;
  padding-bottom: 1px;
  border-bottom-style: double;
  border-bottom-color: #750920;;
  border-width: 4px;
}

.wrapper > ul li span, .wrapper > ol li span {
  line-height: 1.8;
  font-size: 13px !important;
  color: #414141;
}

.wrapper > ol, .wrapper > ul {
  color: #750920;
}

.wrapper code.prettyprint.code-in-text.prettyprinted {
  padding-left: 1px;
  padding-right: 1px;
  margin-left: 3px;
  margin-right: 3px;
}

.wrapper span.kwd {
  font-weight: bold;
}

.wrapper em.comment {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', KaiTi, serif, "Microsoft Yahei" !important;
    color: #b81e82;
/*     padding-bottom: 1px;
    border-bottom-style: dotted;
    border-bottom-color: #b81e82;
    border-width: 1px; */
    margin-left: 3px;
    margin-right: 3px;
  }

.wrapper del {
    text-decoration:none !important;
    background-color: black;
}

.wrapper hr {
  margin-left: 150px;
  margin-right: 150px;
  border-top:3px solid #5b0d53 !important;
}

.wrapper pre.prettyprint.linenums{
  padding: 6px 10px 6px 10px !important;
}

.wrapper div.ref > p{
  font-size: 13px;
  line-height: 1.4 !important;
  color: #6e6e6e !important;
  text-align: left !important;
  margin: 5px 25px 5px 25px !important;
  word-break: break-all;
}


.wrapper div > img{
  max-width: 80%;
}

.wrapper em.link {
  color: #b81e82;
  margin-left: 3px;
  margin-right: 3px;
  padding-bottom: 1px;
  border-bottom-style: dotted;
  border-bottom-color: #b81e82;
  border-width: 1px;
  word-break: break-all !important;
}