.wrapper {
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif, -apple-system-font, 黑体 !important;
}

.wrapper > * {
  margin-right: 25px;
  margin-left: 25px;
}
.wrapper p {
  
  line-height: 1.8;
  letter-spacing: 0.4px;
  font-size: 15px;
  white-space: normal;
  color: #414141;
}
.wrapper blockquote {
  line-height: 22px;
  background-color: #fdfae8;
  border-left: #a88ea5;
}
.wrapper blockquote p {
  font-size: 13px;
  color: #ccbac9;
  letter-spacing: 0.5px;
}
.wrapper h1 {
  font-size: 28px;
  color: #5b0d53
}
.wrapper h2 {
  font-size: 22px;
  color: #5b0d53;
  font-weight: bold;
}
.wrapper h3 {
  font-size: 19px;
  color: #202020;
  font-weight: bold;
}
.wrapper h4 {
  font-size: 16px;
  color: #4a4a4a;
  font-weight: bold;
}

.wrapper a {
  font-size: 14px;
  color: #b81e82;
  font-style: italic;
}

.wrapper table {
  font-size: 13px;
  text-align: center;
  width: -webkit-fill-available;
}

.wrapper th {
  text-align: center;
}

.wrapper strong {
  color: #750920;
}

.wrapper > ul li span, .wrapper > ol li span {
  line-height: 1.8;
  font-size: 13px !important;
  color: #414141;
}

.wrapper > ol, .wrapper > ul {
  color: #750920;
}