.wrapper {
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif, -apple-system-font, 黑体 !important;
}

.wrapper > * {
  margin-right: 25px;
  margin-left: 25px;
}
.wrapper p {
  
  line-height: 1.8;
  letter-spacing: 0.4px;
  padding-right: 10px;
  padding-left: 10px;
  box-sizing: border-box;
  font-size: 15px;
  white-space: normal;
  color: #545454;
}
.wrapper blockquote {
  line-height: 22px;
  background-color: lightgrey
}
.wrapper blockquote p {
  font-size: 13px;
  color: #545454;
  letter-spacing: 0.5px;
}
.wrapper h1 {
  font-size: 28px;
  color: #5b0d53
}
.wrapper h2 {
  font-size: 22px;
  color: #5b0d53;
  font-weight: bold;
}
.wrapper h3 {
  font-size: 19px;
  color: #202020;
  font-weight: bold;
}
.wrapper h4 {
  font-size: 16px;
  color: #4a4a4a;
  font-weight: bold;
}

.wrapper strong {
  color: #750920;
}
.wrapper ul li span, .wrapper ol li span {
  line-height: 22px;
  letter-spacing: 0.5px;
  font-size: 13px !important;
}
