.wrapper {
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif, -apple-system-font, 黑体 !important;
}

.wrapper > * {
  margin-right: 25px;
  margin-left: 25px;
}
.wrapper p {
  font-size: 15px;
  white-space: normal;
  line-height: 1.75em;
  color: #4a4a4a;
}
.wrapper blockquote {
  line-height: 22px;
  background-color: lightslategray;
}
.wrapper blockquote p {
  font-size: 13px;
}
.wrapper h1 {
  font-size: 25px;
  color: #202020;
}
.wrapper h2 {
  font-size: 22px;
  color: #202020;
}
.wrapper h3 {
  font-size: 19px;
  color: #202020;
}
.wrapper h4 {
  font-size: 16px;
  color: #4a4a4a;
}

.wrapper strong {
  color: #880a25;
}
.wrapper ul li span, .wrapper ol li span {
  line-height: 22px;
  font-size: 13px !important;
}
