<!-- Contact -->
<section id="contact">
	<div class="inner">
<div class="table-wrapper">
	<h3>Contact Info</h3>
	<table>
		<tbody>
			<tr>
				<td> <span class="icon fa-phone"></span> </td>
				<td>02-2220-2375 (Professor) </td>
			</tr>
			<tr>
				<td> <span class="icon fa-home"></span> </td>
				<td>
					Room No. 802, IT.BT Building (Professor)<br/>
					Room No. 702, IT.BT Building (Students)<br/>
					Hanyang University, 222, Wangsimni-ro, Seongdong-gu, SEOUL, KOREA, REPUBLIC OF  
				</td>
			</tr>
		</tbody>
	</table>
</div>
</div>
</section>
