<!-- Contact -->
<!-- Footer -->
	<footer id="footer">
		<div class="inner row">
			<div class="4u 12u$(medium)" style="text-align: center;">
				<h4>友情链接</h4>
				<span><a href="http://bbs.nju.edu.cn/bbsdoc?board=NoteBook">小百合NoteBook版</a></span>
				<br><span><a href="http://itsc.nju.edu.cn">信息化建设管理服务中心</a></span>
				<br><span><a href="http://zijingbt.njuftp.org">南大紫荆站</a></span>
				<br><span><a href="http://mirrors.nju.edu.cn/">南大镜像</a></span>
				<br><span><a href="http://mirrors.ustc.edu.cn/">科大镜像</a></span>
			</div>
			<div class="4u 12u$(medium)" style="text-align: center;">
				<h4>联系我们</h4>
				<ul class="icons">
					{% if site.weixin_url %}
					<li><a href="{{ site.weixin_url }}" class="icon alt fa-weixin" target="_blank"><span class="label">Wechat</span></a></li>
					{% endif %}
					{% if site.gitlab_url %}
					<li><a href="{{ site.gitlab_url }}" class="icon alt fa-gitlab" target="_blank"><span class="label">GitLab</span></a></li>
					{% endif %}
					{% if site.github_url %}
					<li><a href="{{ site.github_url }}" class="icon alt fa-github" target="_blank"><span class="label">GitHub</span></a></li>
					{% endif %}
					{% if site.bbs_url %}
					{% endif %}
					<li><a href="mailto:{{site.email}}" class="icon alt fa-envelope" target="_blank"><span class="label">E-mail</span></a></li>
				</ul>
			</div>
			<div class="4u$ 12u$(medium)" style="text-align: center;">
				<h4>关注我们</h4>
				<img src="{{ site.weixin_url }}" >
			</div>
			
		</div>
		<div style="text-align: center;">
			<span><a href="http://nju-itxia.mikecrm.com/A8LfxV">老人信息收集</a></span>
			<span><a href="{{site.url}}/board_games">桌游目录</a></span>
			<span><a href="https://itxia.club/appointment/#/itxia/login">后台登录(试验)</a><span>
			<span><a href="https://itxia.club/appointment/#/itxia/login">账户管理</a><span>
		</div>
    <br>
		<div style="text-align: center;">
			<ul class="copyright">
				<li>&copy; {{ site.title }} {{ site.subtitle }}2019</li>
			</ul>	
		</div>
	</footer>


<!-- Scripts -->
	<script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.js"></script>
	<!--script src="{{ "assets/js/jquery.min.js" | absolute_url }}"></script-->
	<script src="{{ "assets/js/jquery.scrolly.min.js" | absolute_url }}"></script>
	<script src="{{ "assets/js/jquery.scrollex.min.js" | absolute_url }}"></script>
	<script src="{{ "assets/js/skel.min.js" | absolute_url }}"></script>
	<script src="{{ "assets/js/util.js" | absolute_url }}"></script>
	<!--[if lte IE 8]><script src="{{ "assets/js/ie/respond.min.js" | absolute_url }}"></script><![endif]-->
	<script src="{{ "assets/js/main.js" | absolute_url }}"></script>
	<script>
	var _hmt = _hmt || [];
	(function() {
	  var hm = document.createElement("script");
	  hm.src = "https://hm.baidu.com/hm.js?43ab9c971d58e2b58e25d906b27399fa";
	  var s = document.getElementsByTagName("script")[0]; 
	  s.parentNode.insertBefore(hm, s);
	})();
	</script>

