{% assign tiles = 0 %}

<section id="one" class="tiles">
  {% for post in site.posts %}
  <article>
    <span class="image">
      <img src="{{ post.image }}" alt="" />
    </span>
    <header class="major">
      <h3><a href="{{ post.url  | relative_url }}" class="link" onclick="ga('send', 'event', {
        'eventCategory': 'Posts',
        'eventAction': 'view_{{ post.title }}',
        'eventLabel': '{{ post.title }}'
      });">{{ post.title }}</a></h3>
      <p>{{ post.description }}</p>
    </header>
  </article>
  {% endfor %}
</section>