<section id="one" class="tiles">
	{% if site.tiles-source == "pages" %}
	{% for page in site.pages limit:site.tiles-count %}
        <article>
                <span class="image">
                        <img src="{{ page.image }}" alt="" />
                </span>
                <header class="major">
                        <h3><a href="{{ site.baseurl }}{{ page.url }}" class="link">{{ page.title }}</a></h3>
                        <p>{{ page.description }}</p>
                </header>
        </article>
	{% endfor %}
	{% endif %}
</section>
