// old version
//iframe {
	//max-width: 50em;
	//max-height: 50em*(9/16);
    //width: 90vw; 
    //height: 90vw*(9/16); [> 100/56.25 = 560/315 = 1.778 <]
//}

// new version
// for youtube 1280x720 videos
#iframe_container {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%;
}

#iframe {
  position: absolute;
  width: 100%;
  height: 100%;
}

iframe {
    width: 100%; 
    height: 100%;
	max-width: 1280px;
	max-height: 720px;
}
